/*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
	/* watch these later */
	font-size: 3rem;
}

body {
	margin: 0;
}


img {
	border: 0;
	width: 100%;
    height: auto;
	opacity: 1.0;
	z-index: -1;
}

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}



/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
/*
@supports not (display: grid) {
	.grid {
		max-width: 50em;
		margin: 0 auto;
	}
}
*/

/*--------------------------------------------------------------
Use flex to create a three-bucket layout 
--------------------------------------------------------------*/

/*
@media screen and (min-width: 700px) {
	@supports (display: flex) {

		.buckets ul {
			display: flex;
			justify-content: space-around;
		}

		.buckets li {
			width: 31%;
		}

	}
}
*/


/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/

@supports (display: grid) {
    .masthead, 
    .section {
        display: grid;
        grid-template-rows: auto repeat(9);
    }
    
    .grid .h-subitems {
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(4) ;
        grid-template-rows: 5rem minmax(auto, 20rem) 1fr;
    }

	.top-badge {
		grid-row: 1;
		grid-column: 1;
	}
    .top-background {
		grid-row: 1;
		grid-column: 1;
    }
}

header {
	text-align: center;
}

/* doesn't span the whole width/height*/
.top-badge {
	background: #a2c9db;
	opacity: 0.5;
}

.font-small {
	font-size: 0.5rem;
}

.top-background {
    z-index: -1;
}

.slogan {
	padding-right: 5rem;
	padding-left: 5rem;
}

h2, p {
	text-align: left;
	padding-right: 5rem;
	padding-left: 5rem;
	font-size: 1.5rem;
}
